.users_tab {
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: flex-end;
    background: rgba(0, 0, 0, 0.6);
}

.users_tab > div {
    height: 100%;
    width: 259px;;
    background: #FFFFFF;
    overflow-y: scroll;
}

.submenu_title {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    padding: 23px 45px;
    text-align: center;
}

.options {
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 17px;
}

.options > div {
    display: flex;
    align-items: center;
    white-space: pre-wrap;
    font-size: 16px;
}

.options ion-icon {
    font-size: 25px;
}

.options > ion-icon {
    font-size: 15px;
    color: #28BB25;
}